.error{
    -fx-border-color:red !important;    
    -fx-border-radius: 8px;
   -fx-background-radius: 8px;   
   -fx-border-width:2px;
   -fx-font-family:"Trebuchet MS";
   -fx-pref-height: 45px; 
   -fx-text-fill: #666; 
   -fx-font-size: 22px; 
    
}

.border-post{
    /*fx-border: 1px solid #000;*/
}

.text-title{
    font-size: 56px;
}


/*Tela Start*/

.tela-inicial{
   -fx-background-color: #fff;
}

.back{
   -fx-background-color: #fff;	
   -fx-pref-width: 1024px;
   -fx-pref-height: 778px;
}

.barra-topo{
-fx-pref-width: 720px;
-fx-pref-height: 93,5px;
-fx-background-image: url("../img/bar-93.png");

}

.pane-logo{
 -fx-pref-width: 212px;
-fx-pref-height: 44px;
-fx-background-image: url("../img/logo-topo.png");	
}

.bt-tela-inicial{
    -fx-background-color: #0083CA;
    -fx-background-radius: 10px;
    -fx-text-fill: #fff;
    -fx-font-size: 26px;
    -fx-pref-width: 700px;
    -fx-pref-height: 100px;	
    -fx-font-family:"Trebuchet MS";
	
}

.panel-scroll-package{
-fx-background-color: #fff;
}

.box-add{
-fx-pref-width: 150px;
-fx-pref-height: 150px;	
-fx-background-color: #ffd700;
 -fx-background-radius: 10px;

}

.box-add-borda{
-fx-border-width:3;
-fx-border-color: #0083ca;
-fx-border-radius: 10px;
}

.label-remetente{
-fx-font-size:40px;
  -fx-text-fill: #000;
-fx-font-family:"Trebuchet MS";
 
}

.input-default{
   -fx-border-radius: 8px;
   -fx-background-radius: 8px;
   -fx-border-color:#aaa;
   -fx-border-width:2px;
   -fx-font-family:"Trebuchet MS";
   -fx-pref-height: 45px; 
   -fx-text-fill: #666; 
   -fx-font-size: 22px;   
}

.input-default-sm{
   -fx-border-radius: 8px;
   -fx-background-radius: 8px;
   -fx-border-color:#aaa;
   -fx-border-width:2px;
   -fx-font-family:"Trebuchet MS";
   -fx-pref-height: 28px; 
   -fx-text-fill: #666; 
   -fx-font-size: 18px;   
}
.input-error{
   -fx-border-color:red !important;
   -fx-text-fill: #666; 
   -fx-font-size: 22px;   
}

.input-search{
   -fx-border-radius: 8px;
   -fx-background-radius: 8px;
   -fx-border-color:#aaa;
   -fx-border-width:2px;
   -fx-font-family:"Trebuchet MS";
    -fx-pref-height: 50px; 
    -fx-text-fill: #444; 
    -fx-font-size: 18px;
}

.label-itens{
 -fx-font-family:"Trebuchet MS";
 -fx-text-fill: #999;
 -fx-font-size: 40px;
}


.select-sedex{
  -fx-pref-width: 300px;
  -fx-pref-height: 200px;
 -fx-border-width:1;
-fx-border-color: #ccc;
-fx-border-radius: 10px;	
}

.select-pac{
  -fx-pref-width: 300px;
  -fx-pref-height: 200px;
  
}

.check-box {
    /* default properties */
    selected-box-color:  #FFD700;
    box-color: #FFD700;
    mark-color: #333;

}

.check-box:selected > .box {
    /* background color for selected checkbox */
    
}

.check-box > .box {
    /* background color of unselected checkbox */
    
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: mark-color;
}


.label3{
	-fx-font-size: 30px;
}

/* Table */

.table_view{
   -fx-background-color:fff;
  
}

.table-view .column-header{
  -fx-background-color:#fff;
}

.table-view .column-header .filler{
 
}

.table-view .column-header .label{
  -fx-font-size:22px;
  -fx-font-family:"Trebuchet MS";
  -fx-text-fill: #82858C;
  -fx-padding:20px;
}

.table-view .column-header-background .filler{
 -fx-background-color:#fff;
 -fx-text-fill: #f00;
 
}



.table-view > .table-cell{
    -fx-text-fill: #8e8d89;
    -fx-font-family:"Trebuchet MS";
    -fx-padding:5px;
    -fx-font-size:20px;
    -fx-text-alignment:center;
    -fx-alignment: center;
   
}

.table-cell {
    -fx-alignment: center;
     -fx-text-fill: #8e8d89;
    -fx-font-family:"Trebuchet MS";
    -fx-padding:5px;
    -fx-font-size:20px;
    -fx-text-alignment:center;
    -fx-alignment: center;
}

.table-row-cell{
    -fx-background-color:#eeeeee;
    -fx-table-cell-border-color	:transparent;
    -fx-text-alignment:center;
    -fx-alignment: center;
}


.table-row-cell:filled:focused:selected {
    -fx-background-color: #FFD700;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
     -fx-text-fill: #fff;
    -fx-font-size:20px;
    -fx-font-family:"Trebuchet MS";
}


.table-row-cell:odd{
    -fx-background-color:#fff;
    -fx-table-cell-border-color	:transparent;
    -fx-text-alignment:center;
    -fx-alignment: center;
}


.label-input-sm{
 -fx-font-size: 18px;
 -fx-text-fill: #3881c5;
 -fx-font-weight: bold;
 -fx-font-family:"Trebuchet MS";
}







.col-prod{
  -fx-text-fill: #f00;
}

/*Bot�es*/
.bt-blue-sm{
   -fx-background-color: #0083CA;
   -fx-background-radius: 10px;
   -fx-text-fill: #fff;
   -fx-font-size: 26px;
   -fx-pref-width: 435px;
   -fx-pref-height: 80px;	
   -fx-font-family:"Trebuchet MS";
}

.font-resumo{
    -fx-font-family:"Trebuchet MS";
    -fx-font-size: 30px; 
    -fx-text-alignment: center;
 

}

.bt-imprimir{
-fx-font-family:"Trebuchet MS";
-fx-background-color: #fff;
-fx-font-size: 30px;
-fx-text-fill: #19b5e6;

}

.bt-mais{
-fx-background-color: #0083CA;
-fx-text-fill: #fff;
 -fx-background-radius: 50%;
 -fx-pref-width: 30px;
   -fx-pref-height: 30px;	


}

.bt-cancelar{
   -fx-background-color: #e17a35;
   -fx-background-radius: 10px;
   -fx-text-fill: #fff;
   -fx-font-size: 26px;
   -fx-pref-width: 435px;
   -fx-pref-height: 80px;	
   -fx-font-family:"Trebuchet MS";
}

.seta-voltar{
   -fx-pref-width: 25px;
   -fx-pref-height: 30px;
   -fx-background-image: url("../img/voltar.png");
    -fx-background-repeat: no-repeat;			
}

.seta-next{
   -fx-pref-width: 25px;
   -fx-pref-height: 30px;
   -fx-background-image: url("../img/seta-next.png");
    -fx-background-repeat: no-repeat;		
}

/* Tela TestConfirmation */

.testeteste{
  -fx-font-family:"Trebuchet MS";
  -fx-font-size: 40px;	
}


/*labels */

.label-h1{
  -fx-font-family:"Trebuchet MS";
  -fx-text-fill: #888;
}

.label-default{
   -fx-font-family:"Trebuchet MS";
   -fx-text-fill: #888;
}

.label-total{
-fx-font-family:"Trebuchet MS";
  -fx-text-fill: #e17a35;
}

/*Cores de fonte */

.fonte-cinza-escuro{
 
}



.icone-erro{
-fx-background-image: url("../img/icon-caution2.png");
-fx-background-repeat: no-repeat;	
 -fx-pref-width: 160px;
 -fx-pref-height: 160px;
 -fx-background-position:center;

}

.icone-sucesso{
-fx-background-image: url("../img/icon-success.png");
-fx-background-repeat: no-repeat;	
 -fx-pref-width: 160px;
 -fx-pref-height: 160px;
 -fx-background-position:center;
}

.incon-card-machine{
-fx-background-image: url("../img/card-machine.png");
-fx-background-repeat: no-repeat;	
 -fx-pref-width: 160px;
 -fx-pref-height: 160px;
 -fx-background-position:center;
}


.pane-tela-inicial{
    -fx-background-image: url("https://www.correios.com.br/portal_css/Sunburst%20Theme/++theme++correios.site.tema/images/footer_background.png");
    /*-fx-min-height: 15em;*/
    -fx-background-size: 360%;
    -fx-background-position: -1900px -88px;
    /*-fx-translate-x: -180;*/
    -fx-background-repeat: no-repeat;
}






.button-click{
	-fx-background-color: #fff !important;
	-fx-text-fill: #3881c5 !important
}

.correios-logo{

}

.btn{
    -fx-font-size: 26px;
}

.btn-blue{
    -fx-background-color: #3881c5;
    -fx-text-fill: #fff;
}

.btn-grey{
 
}

.bt-next{
    -fx-background-color: #3881c5;
    -fx-text-fill: #fff;
    -fx-font-size: 21px;
}

.label-zip{
	-fx-text-fill: #3881c5;
	-fx-font-size: 41px;
}


#label-confirm-adress{
	-fx-font-size: 41px
}

.label-status{
	-fx-text-fill: #3881c5;
	-fx-font-size: 18px;
	-fx-text-fill: red
}

.hbox-btn {
    -fx-background-color: #3881c5;
    -fx-text-fill: #fff;
    -fx-font-size: 21px;
}


.selectedButton {
	-fx-border-color: #3881c5;
    -fx-border-width:2px;
	-fx-background-color: #3881c5;
}

.selectedPane {
	-fx-background-color: #3881c5;
}

.selectedLabel {
	-fx-text-fill: #ffffff;
}

.pane{
	-fx-border-color: #3881c5;
    -fx-border-width: 2px;
    -fx-text-fill: #000
	
}
 
 .pane-click{
 	-fx-background-color: #3881c5;
 	-fx-text-fill: #fff !important;
 }
 
 .label{
 	-fx-font-size: 12px
 }
 
 .label-click{
 	-fx-text-fill: #fff !important;
 }
 
 .label-unselected{
 	-fx-text-fill: #000;
 }
 
.bt-voltar{
    -fx-background-color: #3881c5;
    -fx-text-fill: #fff;
    -fx-font-size: 21px;
    /*-fx-min-width: 30em;*/
    /*-fx-min-height: 4em;*/
}

.bt-voltar2{
    -fx-background-color: #3881c5;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
}

.root-bg{
    -fx-background-image: url("../img/bg3.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}


.footer-page{
    -fx-background-image: url("../img/footer_background.png");
    -fx-background-size: 150%;
    -fx-background-position: -150px -80px;
    -fx-background-repeat: no-repeat;
    -fx-height: 100%;
   	-fx-width: 150%;
}

.header-page{
    -fx-background-color: #F6F6FE;
    -fx-background-position: -150px -80px;
    -fx-background-repeat: no-repeat;
    -fx-height: 100%;
   	-fx-width: 150%;
}

.header-page-service{
    -fx-pref-width: 1024px;
    -fx-pref-height: 111px;
    -fx-background-color: #EEF0EF;
}

.sub-header-page{
    -fx-background-color: #fff;
    -fx-background-position: -150px -80px;
    -fx-background-repeat: no-repeat;
    -fx-height: 100%;
   	-fx-width: 150%;
}

.box-postagem{
    -fx-background-color: #efc352;
    -fx-text-fill: #000;
    -fx-border-color: #efc352;
}

.package-select{
	-fx-background-image: url("../img/caixa.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position:center; 
	-fx-background-color: #3881c5;
	-fx-text-fill: #fff;
	-fx-font-size: 21px;
	-fx-padding:0 0 350 50;	
	-fx-border-color: #3881c5;
    -fx-border-width: 2px;
}

.labelAviso{
	-fx-font-size: 21px;
}


.label3{
	-fx-font-size: 30px;
}

.labelValue{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: 	#FF4500;
}

.labelAviso2{
	-fx-font-size: 21px;
    -fx-text-fill: #808080;
}

.package{
	-fx-background-image: url("../img/caixa.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position:center; 
	-fx-text-fill: #3881c5;
	-fx-font-size: 21px;
	-fx-padding:0 0 350 0;	
	-fx-border-color: #3881c5;
    -fx-border-width: 2px;
}

.envelope{
	-fx-background-image: url("../img/envelope.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-position:center; 
	-fx-text-fill: #3881c5;
	-fx-font-size: 21px;
	-fx-padding:0 0 350 0;	
	-fx-border-color: #3881c5;
    -fx-border-width: 2px;
}

.txt-label{
    -fx-font-size: 25px;
    -fx-font-family: "Courier New";
	-fx-text-fill: #808080;
}

.txt-label-service{
    -fx-font-size: 25px;
	-fx-text-fill: #ACACAC;
}

.txt-label-service-teste{
    -fx-font-size: 40px;
    -fx-text-fill: #82858C;
    -fx-font-family:"Trebuchet MS";
}

.label-resumo-compra{
   -fx-font-family:"Trebuchet MS";
   
}

.linha{
  -fx-background-color: #FFD700;
  -fx-pref-width: 1024px;
   -fx-pref-height: 7px;	
}

.txt-label-service-measures{
    -fx-font-size: 20px;
    -fx-text-fill: #fff;
    -fx-background-color: #FF4500;
}


.label-text{
   -fx-font-size: 25px;
    -fx-text-fill: #82858C;
    -fx-font-family:"Trebuchet MS";
}



.sub-txt-label{
    -fx-font-size: 36px;
    -fx-text-fill: #82858C;
    -fx-font-family:"Trebuchet MS";
}

.txt-label-measures{
    -fx-font-size: 20px;
	-fx-text-fill: #1E90FF;
}

.sub-txt-label-observations{
    -fx-font-size: 15px;
    -fx-text-fill: #696969;
}

.sub-txt-label-tela-teste{
    -fx-font-size: 55px;
    -fx-text-fill: #82858C;
    -fx-font-family:"Trebuchet MS";
   
}

.label-fulfillment{
	-fx-font-size: 18px;
	-fx-text-fill: #000000;
}

.label-confirmation{
	-fx-font-size: 18px;
	-fx-text-fill: #3881c5;
	-fx-font-weight: bold;
	-fx-font-family:"Trebuchet MS";
}


.label-response-confirmation{
    -fx-font-size: 21px;
    -fx-border-color: #eee;
    -fx-border-width: 2px;
-fx-border-radius:5px;
}

.txt-label-lg{
	-fx-font-size: 25px;
	-fx-text-fill: #3881c5
}

.additional-service{
	-fx-font-size: 25px;
	-fx-text-fill: #3881c5
}

.btn-yes{
    -fx-background-color: #469c30;
    -fx-text-fill: #fff;
}

.btn-yes-prepost-confirmation{
    -fx-font-size: 15px;
    -fx-background-color: #4169E1;
    -fx-text-fill: #fff;
}

.btn-no{
	-fx-background-color: #bf3a31;
    -fx-text-fill: #fff;
}

.btn-search-img{
    -fx-background-image: url("../img/search.png");
    -fx-background-size: 30;
    -fx-background-color: #FFD700;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
     -fx-background-radius: 0 8px 8px 0;
    -fx-pref-height: 43px; 
   
    
}

.btn-icon1{
    -fx-background-image: url("../img/incon1.jpeg");
    -fx-background-size: 90%;
    -fx-background-color: #FFD700;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-icon2{
    -fx-background-image: url("../img/icon2.jpeg");
    -fx-background-size: 100%;
    -fx-border-radius: 5%;
    -fx-background-color: #FFD700;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.bg-blue{
	 -fx-background-image: url("../img/bg-azul.jpg");
	 -fx-background-repeat: no-repeat;
	 -fx-background-size: 100%;
}



.lbl{
    -fx-font-weight: bold    
}


.lblTitleValues{
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-background-color: #191970;
    -fx-text-fill: #FFD700;
    -fx-padding: 8;	
}

.bg-white{
	-fx-background-color: #fff
}

.lbValorTotal{
    -fx-font-size: 25px;
    -fx-text-fill: #191970;
    
}

.lbDiasUteis{
    -fx-text-fill: #A9A9A9;    
}

.label-white{
	-fx-text-fill: #fff;
	-fx-font-size: 41px;
}

.label-package{
	-fx-text-fill: #fff;
	-fx-font-size: 25px;
}

.title-package{
	-fx-text-fill: #fff;
	-fx-font-size: 35px;
}
.btn-phone-img{
    -fx-background-image: url("../img/phone-square.png");
    -fx-background-size: 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.packageEncomendaP{
    -fx-background-image: url("../img/packageP.jpeg");
    -fx-background-size: 130;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.packageEncomendaM{
    -fx-background-image: url("../img/packageM.jpeg");
    -fx-background-size: 180;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.packageEncomendaG{
    -fx-background-image: url("../img/packageG.jpeg");
    -fx-background-size: 250;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.packageEncomendaE{
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
}

.btn-headphone-img{
    -fx-background-image: url("../img/headphones.png");
    -fx-background-size: 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-search-package-img{
    -fx-background-image: url("../img/headphones.png");
    -fx-background-size: 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btnPack{
    -fx-background-color: #fff;
}

.btnPack:focused{    
    -fx-border-color: #3881c5;
}

.label-packDescription{
	-fx-font-size: 18px;
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
}


.label-packDimensions{
	-fx-font-size: 14px;
	-fx-text-fill: #000000;
}

.label-packValue{
	-fx-font-size: 16px;
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
}

/*Dialig Alert*/

.alert{
    -fx-background-color: #000;
}

/*End*/

